@mixin grid($columns, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// use
// .check_grid {
//   @include grid(2);
//   @include mq(sm) {
//     @include grid(1, 10px);
//   }
// }
