@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


// goole font
$bodyFont : 'Expletus Sans', sans-serif;
$headingFont: 'Poppins', sans-serif;




// ESSENTIAL COLORS 
:root {
    --Body-Color-1: #0F051D;
    --Body-Color-3: #040B11;
}


