// colors
:root {
  --white: #ffffff;
  --secondary-2: #b9b9bf;
  --body-color-1: #0f051d;
  --primary: #7c3aed;
  --body-color-2: #f4f6f9;
  --body-color-3: #040b11;
  --brand-color-1: #f63c9b;
  --text-Color: #cecfd3;
  --dark: #1b1229; // --D
  --line-Color: #484848;
  --green: #21e786;

  --light-shadow: 2px 2px 50px 10px rgba(246, 60, 155, 0.2);
}

html {
  font-size: 10px;
  @include mq(xl-1) {
    font-size: 9px;
  }
  @include mq(xl) {
    font-size: 8px;
  }
  @include mq(lg) {
    font-size: 7px;
  }
  @include mq(md) {
    font-size: 6px;
  }
  @include mq(sm) {
    font-size: 5px;
  }
}

.test-text {
  background: var(--body-color-3);
  padding: 5rem;
  color: var(--white);
  font-size: 6.2rem;
  @include font-family($primaryFont, 300);
}
