@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 100";
}
@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 200";
}
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 300";
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 400";
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 500";
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 600";
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../font/ExpletusSans.ttf") format("truetype");
  font-family: "Expletus Sans 700";
}
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("../font/Poppins-Thin.ttf") format("truetype");
  font-family: "Poppins 100";
}
@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("../font/Poppins-ExtraLight.ttf") format("truetype");
  font-family: "Poppins 200";
}
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("../font/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins 300";
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../font/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins 400";
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../font/Poppins-Medium.ttf") format("truetype");
  font-family: "Poppins 500";
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
  font-family: "Poppins 600";
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../font/Poppins-Bold.ttf") format("truetype");
  font-family: "Poppins 700";
}
:root {
  --white: #ffffff;
  --secondary-2: #b9b9bf;
  --body-color-1: #0f051d;
  --primary: #7c3aed;
  --body-color-2: #f4f6f9;
  --body-color-3: #040b11;
  --brand-color-1: #f63c9b;
  --text-Color: #cecfd3;
  --dark: #1b1229;
  --line-Color: #484848;
  --green: #21e786;
  --light-shadow: 2px 2px 50px 10px rgba(246, 60, 155, 0.2);
}

html {
  font-size: 10px;
}
@media (max-width: 1500px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 5px;
  }
}

.test-text {
  background: var(--body-color-3);
  padding: 5rem;
  color: var(--white);
  font-size: 6.2rem;
  font-weight: 300;
  font-family: "Poppins 300", sans-serif;
}

.flex, .f-jb-ic, .f-js-ic, .f-jc-ic {
  display: flex;
}

.justify-center, .f-jc-ic {
  justify-content: center;
}

.justify-start, .f-js-ic {
  justify-content: start;
}

.justify-between, .f-jb-ic {
  justify-content: space-between;
}

.items-center, .f-jb-ic, .f-js-ic, .f-jc-ic {
  align-items: center;
}

.items-start {
  align-items: start;
}

/*-----------------------------------------------------------------------------------

  Theme Name: Mariox Creative Agencey HTML 5 Template
  Author: Creative-hunk
  Support: 
  Description: Mariox Creative Agencey HTML 5 Template
  Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

  1. common
	2. header
	3. hero
	4. about
	5. learn
	6. faq
	7. plan
	8. testimonial
	9. blog
	10. footer



-----------------------------------------------------------------------------------*/
/*

==================================
    1. common
==================================

*/
body {
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  color: var(--black-1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: Poppins;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  height: 100px;
}

.img,
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
.button {
  transition: 0.3s;
}

a:focus,
.button:focus {
  outline: none;
  text-decoration: none;
}

button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0;
  color: var(--black-2);
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-family: Poppins;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

label {
  cursor: pointer;
}

*::-moz-selection {
  text-shadow: none;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  background: var(--black-2);
  color: white;
  text-shadow: none;
}

a:hover {
  color: inherit;
}

.check_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 576px) {
  .check_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.primary-btn, .primary-blue-btn-2, .primary-blue-btn, .primary-blue-btn-hometwo {
  display: inline-block;
  background-color: var(--black-1);
  padding: 13px 28px;
  border-radius: 5px;
  color: var(--white);
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.primary-btn:hover, .primary-blue-btn-2:hover, .primary-blue-btn:hover, .primary-blue-btn-hometwo:hover {
  background-color: var(--white);
  color: var(--black-1);
  border: 1px solid var(--black-1);
}

.primary-btn-borderless {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  color: var(--black-2);
  transition: 0.3s;
}
.primary-btn-borderless:hover {
  color: var(--secondary);
}

.secondary-btn, .secondary-white-btn, .secondary-black-btn, .contact-btn {
  display: inline-block;
  padding: 26px 60px;
  background: var(--theme-2);
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--white);
  font-family: Poppins;
  border-radius: 15px;
}
@media (max-width: 576px) {
  .secondary-btn, .secondary-white-btn, .secondary-black-btn, .contact-btn {
    padding: 20px;
  }
}
.secondary-btn:hover, .secondary-white-btn:hover, .secondary-black-btn:hover, .contact-btn:hover {
  color: var(--white);
}

.contact-btn {
  padding: 12px 20px;
  font-size: 14px;
}

.plan-btn {
  display: inline-block;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--black-1);
  font-family: Poppins;
  border-radius: 15px;
  border: 1px solid var(--black-1);
}
.plan-btn:hover {
  color: var(--white);
  background: var(--theme-2);
  border-radius: 15px;
  border: 1px solid transparent;
}

.primary-blue-btn, .primary-blue-btn-hometwo {
  background-color: var(--theme-3);
}

.primary-blue-btn-2 {
  background-color: #4F4BCB;
}

.secondary-black-btn {
  font-family: Poppins;
  background: var(--black-1);
  z-index: 9;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  border: 1px solid transparent;
}
.secondary-black-btn:hover {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 15px;
}

.secondary-white-btn {
  background: var(--white);
  z-index: 9;
  position: relative;
  color: #4F4BCB;
  border: 1px solid transparent;
}
.secondary-white-btn:hover {
  background-color: var(--black-1);
  color: var(--white);
  border: 1px solid var(--black-1);
  border-radius: 15px;
}

.primary-blue-btn-hometwo {
  padding: 8px 28px;
}

iframe {
  border-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
